<ion-header [translucent]="true">
  <ion-toolbar>
    <nav class="container mb-3">
      <img src="../../assets/img/logo2.png" class="photo" alt="logo" />
    </nav>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
<h1 class="intro text-center">Récupérer mon mot de passe</h1>

<!-- formulaire recuperation -->
<div class="container mb-5 cont-max-width">
 <div class="recup text-center">

   <form
   action=""
   onSubmit="{handleLogin}"
   id="recup-form"
   class="text-center p-4">
   
  
   <div class="form-group mb-2">
     <label for="email">Email</label>
     <input type="text" name="email" id="email" class="form-control" />
   </div>

   <div class="form-group mb-2">
     <label for="password">Mot de passe</label>
     <input type="password" name="password" id="password" class="form-control" />
   </div>
   <div class="form-group mb-2">
     <label for="password"> Confiermer le mot de passe</label>
     <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" />
   </div>
   
   <input type="submit" value="Valider" class="btn btn-v mt-3" />
 </form>
 </div>
</div>

  <ion-footer >
    <div class="container d-flex justify-content-around align-items-center">
    <div class="footer-item flex-item text-center ">
      <ul>
        <li><a href="">À propos de </a></li>
        <li><a href="">Contact</a></li>
        <li>
          <a href="">Politique de confidentialité et conditions de service</a>
        </li>
      </ul>
    </div>
    <div class="image footer-item text-center">
      <img src="../../assets/img/logonobg.png" alt="logo" class="img-fluid mw-25" />
    </div>
    <div class="footer-item flex-item text-center ">
      <ul>
        <li><a href="">FAQs</a></li>
        <li><a href="">Informations sur les copyright</a></li>
        <li>
          <a href="">Reseau sociaux</a>
          <br>
          <i class="fa fa-twitter pe-2"></i>
              <i class="fa fa-facebook"></i>
        </li>
      </ul>
    </div>
  </div>
  </ion-footer>
</ion-content>
