<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="../../assets/img/logo2.png" class="photo" alt="logo" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container mb-3 cont-max-width">
    <div class="signup text-center">
      <form
        [formGroup]="newUserForm"
        (ngSubmit)="createUser()"
        id="sign-up-form"
        class="text-center p-4"
      >
        <div class="form-group mb-2">
          <label for="name">Nom et prenom</label>
          <input
            formControlName="name"
            type="text"
            id="name"
            class="form-control"
          />
          <div
            *ngIf="newUserForm.get('name')?.invalid && (newUserForm.get('name')?.touched || newUserForm.get('name')?.dirty)"
            class="text-danger"
          >
            <div
              *ngIf="newUserForm.get('name')?.errors?.['pattern']"
              class="text-danger"
            >
              Le nom et prénom ne peuvent contenir que des lettres et espaces
            </div>
            <div
              *ngIf="newUserForm.get('name')?.errors?.['required']"
              class="text-danger"
            >
              Ce champ est requis
            </div>
          </div>
        </div>
        <div class="form-group mb-2">
          <label for="surname">Pseudo</label>
          <input
            formControlName="surname"
            type="text"
            id="surname"
            class="form-control"
            (blur)="checkUsername(newUserForm.get('surname')?.value)"
          />
          <div *ngIf="surnameExists" class="text-danger">
            Le pseudonyme est déjà utilisé
          </div>
          <div
            *ngIf="newUserForm.get('surname')?.invalid && (newUserForm.get('surname')?.touched || newUserForm.get('surname')?.dirty)"
            class="text-danger"
          >
            <div
              *ngIf="newUserForm.get('surname')?.errors?.['required']"
              class="text-danger"
            >
              Ce champ est requis
            </div>
          </div>
        </div>
        <div class="form-group mb-2">
          <label for="email">Email</label>
          <input
            formControlName="email"
            type="email"
            id="email"
            class="form-control"
          />
          <div
            *ngIf="newUserForm.get('email')?.invalid && (newUserForm.get('email')?.touched || newUserForm.get('email')?.dirty)"
            class="text-danger"
          >
            <div
              *ngIf="newUserForm.get('email')?.errors?.['required']"
              class="text-danger"
            >
              Ce champ est requis
            </div>
            <div
              *ngIf="newUserForm.get('email')?.errors?.['email']"
              class="text-danger"
            >
              Veuillez saisir une adresse email valide
            </div>
          </div>
        </div>
        <div class="form-group mb-2">
          <label for="password">Mot de passe</label>
          <input
            formControlName="password"
            type="password"
            id="password"
            class="form-control"
          />
          <div
            *ngIf="newUserForm.get('password')?.invalid && (newUserForm.get('password')?.touched || newUserForm.get('password')?.dirty)"
            class="text-danger"
          >
            <div
              *ngIf="newUserForm.get('password')?.errors?.['required']"
              class="text-danger"
            >
              Ce champ est requis
            </div>
            <div
              *ngIf="newUserForm.get('password')?.errors?.['minlength']"
              class="text-danger"
            >
              Le mot de passe doit contenir au moins 10 caractères
            </div>
          </div>
        </div>
        <div class="form-group mb-5">
          <label for="confirmPassword">Confirmer le mot de passe</label>
          <input
            formControlName="confirmPassword"
            type="password"
            id="confirmPassword"
            class="form-control"
            (blur)="checkPasswordMatch()"
          />
          <div
            *ngIf="newUserForm.get('confirmPassword')?.invalid && (newUserForm.get('confirmPassword')?.touched || newUserForm.get('confirmPassword')?.dirty)"
            class="text-danger"
          >
            <div
              *ngIf="newUserForm.get('confirmPassword')?.errors?.['required']"
              class="text-danger"
            >
              Ce champ est requis
            </div>
            <div
              *ngIf="newUserForm.get('confirmPassword')?.errors?.['notMatch']"
              class="text-danger"
            >
              Les mots de passe ne correspondent pas
            </div>
          </div>
        </div>

        <input
          type="checkbox"
          formControlName="acceptTerms"
          class="checkbox me-2"
        />
        <a routerLink="/information-app">
          J'accepte les conditions et les politiques</a
        >

        <div
          *ngIf="newUserForm.get('acceptTerms')?.invalid && (newUserForm.get('acceptTerms')?.touched || newUserForm.get('acceptTerms')?.dirty)"
          class="text-danger"
        >
          <div
            *ngIf="newUserForm.get('acceptTerms')?.errors?.['notAccepted']"
            class="text-danger"
          >
            Il faut accepter les conditions et les politiques
          </div>
        </div>

        <br />
        <input
          type="submit"
          [disabled]="newUserForm.get('acceptTerms')?.invalid"
          value="Valider inscription"
          class="btn btn-v rounded-4 ps-3 pe-3 mt-3"
        />
      </form>
    </div>
  </div>

  <section class="container mt-4 mb-4 cont-max-width">
    <p class="comment border rounded-3 text-end ms-5">
      Découvrez une manière plus intelligente de gérer votre argent avec
      <strong>SmartSpend</strong>. Oubliez les saisies manuelles et contrôlez
      vos dépenses automatiquement.
    </p>
    <p class="comment border rounded-3 text-start me-5">
      Contrôlez vos dépenses avec <strong>SmartSpend</strong>. Une application
      intuitive pour prendre des décisions financières plus intelligentes.
    </p>
    <p class="comment border rounded-3 text-end ms-5">
      Votre assistant financier personnel. Avec <strong>SmartSpend</strong>, le
      suivi de vos dépenses est simple et rapide.
    </p>
    <p class="comment border rounded-3 text-start me-5">
      <strong>SmartSpend</strong>: l'outil essentiel pour une gestion financière
      intelligente. Commencez dès aujourd'hui.
    </p>
  </section>
  <ion-footer>
    <div class="container d-flex justify-content-around align-items-center">
      <div class="footer-item flex-item text-center">
        <ul>
          <li><a href="">À propos de </a></li>
          <li><a href="">Contact</a></li>
          <li>
            <a href="">Politique de confidentialité et conditions de service</a>
          </li>
        </ul>
      </div>
      <div class="image footer-item text-center">
        <img
          src="../../assets/img/logonobg.png"
          alt="logo"
          class="img-fluid mw-25"
        />
      </div>
      <div class="footer-item flex-item text-center">
        <ul>
          <li><a href="">FAQs</a></li>
          <li><a href="">Informations sur les copyright</a></li>
          <li>
            <a href="">Reseau sociaux</a>
            <br />
            <i class="fa fa-twitter pe-2"></i>
            <i class="fa fa-facebook"></i>
          </li>
        </ul>
      </div>
    </div>
  </ion-footer>
</ion-content>
