
.nav-img{
  width: 25%;
  max-width: 100px;
}


.card-ajouter{
  
  box-shadow: 2px 4px 6px #00000040;
  text-shadow: 2px 4px 6px #00000040;
}


.fa-plus{
  background-color: #0052d0;
  box-shadow: 2px 4px 6px #00000040;
  color: white;
}
/* form-recherche  */
.recherche{
  
  color: white;
  border: 1px solid #0052d0;
  border-radius: 5%;
  background-color: #0052d0;
  box-shadow: 2px 4px 6px #00000040;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  width: calc(33.33% - 10px);
  margin-bottom: 10px;
}
.form-group input, select {
  background-color: #ffffff;
  color: black;
}

label {
  width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select,
.button {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.button {
  background-color: #67bbdf;
  border: solid 1px #67bbdf;
  color: white;
  cursor: pointer;
  box-shadow: 2px 4px 6px #00000040;
  max-width: 80px;
}
.cont-btn{
  max-width: 350px;
}
.card-info{
  color: black;
  text-align: justify;
  font-size: 0.9em;
  box-shadow: 2px 4px 6px #00000040;
}


ion-footer{
    background-color: #003980;
   list-style: none;
    
  }
  .footer-item{
   flex: 1;
    font-size: 0.6em;
  }
  a{
    text-decoration: none;
    color: rgb(249, 246, 246);
  }
  ul {
    list-style-type: none;
  }
  li{
    padding: 7px 0px 7px 0px;
  }
  .image{
    max-width: 150px;
  }
  @media only screen and (min-width: 600px) {
    .footer-item{
      font-size: 1.5em; 
    }
  }