<ion-header [translucent]="true">
  <ion-toolbar>
    <nav class="container d-flex justify-content-around align-items-center">
      <div class="nav-img">
        <img src="../../assets/img/logonobg.png" alt="" class="photo img-fluid" />
      </div>
      <div>Bienvenue <strong>{{ userName }}</strong></div>
      <div><i class="fas fa-user-slash" (click)="logout()"></i></div>
    </nav>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="graphique text-center">
    <p>Le graphiques seront ici</p>
  </div>

  <!-- btn -->

   <section class=" container cont-btn text-center">
  <div
    class="card-ajouter text-center d-flex justify-content-around align-items-center mb-4 ms-4 me-4 rounded-3 p-2"
  >
    <div class=""><strong>Ajoutez vos opérations</strong></div>
    <div><i class="fa fa-plus border rounded-4 border-black p-2" routerLink="/formulaire"></i></div>
  </div>
</section> 
  <!-- form-recherche -->
  <div class="container mb-5">
    <div class="recherche mb-3 cont-max-width p-1 ">
      <div class="text-start ps-2 pt-2 pb-3">Informations ajoutées :</div>
      <div class="text-start ps-3">Filtres : </div>

      <form class="align-items-center text-center border-bottom border-4 pb-3">
        <div class="form-group">
          <label for="inputFecha1"></label>
          <input type="date" id="inputFecha1" required placeholder="Date" />
        </div>-
        <div class="form-group">
          <label for="inputFecha2"></label>
          <input type="date" id="inputFecha2" required />
        </div>

        <div class="form-group" *ngIf="categories.length > 0">
          <label for="select1"></label>
          <select id="select1" required>
            <option value="" disabled selected>Choisir une categorie</option>
            <option value="" *ngFor="let category of categories">{{ category.name }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="inputNumber"></label>
          <input type="number" id="inputNumber" required />
        </div>-

        <div class="form-group">
          <label for="inputNumber2"></label>
          <input type="number" id="inputNumber2" required />
        </div>

        <div class="form-group">
          <label for="select2"></label>
          <select id="select2" required>
            <option value="" disabled selected>Choisir une categorie</option>
            <option value=""*ngFor="let method of methodPays">{{ method.name }}</option>
          </select>
        </div>
        <div class="  w-100">
        <button type="submit" class=" rounded-5 color-btn p-2">Valider</button>
      </div>
      </form>

<!-- tableau de resultat -->
<div class=" pb-5 pe-1 ps-1">
<div class="border bg-light mt-3 card-info p-2" *ngFor="let expense of expenses">
  {{ categoriesMap[expense.CategoryId] }} <strong> | </strong>{{ expense.amount }} € <strong> | </strong> {{ expense.exp_date | date:'dd/MM/yyyy' }} <strong> | </strong> {{ methodPaysMap[expense.MethodPayId] }} <strong> | </strong> {{ expense.location }} <strong> | </strong>{{ expense.note }} 
</div>
<div class=" bg-success mt-3 card-info p-2 ps-3" *ngFor="let deposit of deposits">
  {{ deposit.amount }} €<strong> | </strong> {{ deposit.dep_date | date:'dd/MM/yyyy' }}  <strong> | </strong> {{ deposit.note }} 
</div>
</div>
    </div>
  </div> 


<!-- FOOTER -->
<ion-footer >
  <div class="container d-flex justify-content-around align-items-center">
  <div class="footer-item flex-item text-center ">
    <ul>
      <li><a [routerLink]="'/information-app'" fragment="testfq">À propos de </a></li>
      <li><a routerLink="/information-app">Contact</a></li>
      <li>
        <a routerLink="/information-app">Politique de confidentialité et conditions de service</a>
      </li>
    </ul>
  </div>
  <div class="image footer-item text-center">
    <img src="../../assets/img/logonobg.png" alt="logo" class="img-fluid mw-25" routerLink="/information-app"/>
  </div>
  <div class="footer-item flex-item text-center ">
    <ul>
      <li><a routerLink="/information-app">FAQs</a></li>
      <li><a routerLink="/information-app">Informations sur les copyright</a></li>
      <li>
        <a routerLink="/information-app">Reseau sociaux</a>
        <br>
        <i class="fa fa-twitter pe-2"></i>
            <i class="fa fa-facebook"></i>
      </li>
    </ul>
  </div>
</div>
</ion-footer>
</ion-content>
