<ion-header [translucent]="true">
  <ion-toolbar>
    <nav class="container d-flex justify-content-around align-items-center">
      <div class="nav-img"><img src="../../assets/img/logonobg.png" alt="" class="photo img-fluid"></div>
      <div>Bienvenue Max</div>
      <div><i class="fas fa-user-slash"></i></div>
              </nav>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="container">
  <main class="container">
  <!-- a propos de -->
<div class="text-center border-bottom border-3 border-black mb-5 pb-4">
  <h1 class="fs-4 text-decoration-underline">
    Á propos de  SmartSpend
  </h1>
  <p >SmartSpend est une application de gestion de dépenses conçue pour faciliter la vie.<br> Cette application, réalisée dans le cadre d'un projet de fin de formation, vise à vous aider à gérer, organiser et contrôler vos dépenses de manière efficace. Avec SmartSpend, vous avez un outil puissant pour suivre vos finances, établir des budgets et garder un œil sur vos dépenses. Simplifiez votre vie financière grâce à SmartSpend</p>

  <section class="container card-app mb-2">
    <div class="card border border-2 rounded-4">
      <img
        src="../../assets/img/logo3card.png"
        class="card-img-top rounded-4 card-photo"
        alt="..."
      />
      <div class="card-body text-center rounded-4 ">
        <p class="card-text text-edit">
          <strong>Votre gestionnaire financier intelligent.</strong>
        </p>
      </div>
    </div>
  </section>
</div>

<!-- politique  -->
<div class="text-justify border-bottom border-3 border-black mb-5 pb-4">
  <h1 class="fs-4 text-decoration-underline">
    Politique de confidentialité
  </h1>
  <p>Date d'effet : [20-12-2023]<br>

    SmartSpend , l'application, s'engage à protéger la vie privée de ses utilisateurs. <br>Cette Politique de Confidentialité décrit comment nous recueillons, utilisons, divulguons et protégeons les informations personnelles de nos utilisateurs. <br>
    <strong>1. Informations Collectées</strong> <br>
    1.1. Informations Personnelles : Nous pouvons collecter des informations personnelles que vous fournissez volontairement, telles que votre nom, votre adresse e-mail et d'autres informations de contact lorsque vous vous inscrivez dans notre application. <br>
    1.2. Informations sur les Dépenses : SmartSpend collecte des informations sur vos dépenses et transactions financières, y compris des détails tels que la date, la catégorie, le montant et la description. <br>
    1.3. Informations d'Utilisation : Nous recueillons des informations sur la manière dont vous utilisez notre application, telles que les fonctionnalités que vous utilisez, les requêtes de recherche et le temps que vous passez dans l'application. <br>
    <strong>2. Utilisation des Informations</strong> <br>
    2.1. Nous utilisons les informations collectées à des fins telles que : <br>
    •	Vous fournir les services de suivi et de gestion des dépenses offerts par SmartSpend. <br>
    •	Personnaliser et améliorer votre expérience dans l'application, y compris la présentation de rapports et l'analyse des dépenses. <br>
    •	Envoyer des notifications liées à l'application, des mises à jour et des conseils financiers. <br>
    •	Analyser l'utilisation de l'application et apporter des améliorations en fonction des commentaires des utilisateurs. <br>
    <strong>3. Divulgation des Informations </strong><br>
    3.1. SmartSpend ne vend pas, ne loue pas et ne partage pas vos informations personnelles avec des tiers, sauf dans les situations suivantes : <br>
    •	Avec votre consentement explicite. <br>
    •	Si nous sommes légalement tenus de le faire par une ordonnance du tribunal ou en conformité avec les lois applicables.<br>
    •	En cas de fusion, d'acquisition ou de vente d'actifs, où les informations de l'utilisateur peuvent être transférées en tant que partie de ces actifs.<br>
    <strong>4. Sécurité des Informations </strong><br>
    4.1. Nous mettons en place des mesures de sécurité pour protéger vos informations personnelles et financières contre tout accès non autorisé et toute utilisation abusive. Nous utilisons le cryptage pour protéger les données des transactions financières.<br>
    <strong>5. Modifications de la Politique de Confidentialité </strong><br>
    5.1. Nous nous réservons le droit de modifier cette Politique de Confidentialité à tout moment. Toute modification importante sera communiquée par le biais de l'application ou par e-mail.<br>
    <strong>6. Contact</strong><br>
    6.1. Si vous avez des questions ou des préoccupations concernant cette Politique de Confidentialité ou concernant SmartSpend en général, n'hésitez pas à nous contacter.<br>
    </p>
</div>

<!-- FAQ -->
<div class="text-justify border-bottom border-3 border-black mb-5 pb-4">
  <h1 class="fs-4 text-decoration-underline">
    FAQs
  </h1>
  <p>
    <strong>-Categories de dépenses : </strong><br>
   <strong> 1. Logement : </strong> Cela inclut le loyer ou la hypothèque de votre domicile, ainsi que les dépenses liées aux services publics, aux réparations et à l'entretien du logement. <br>
   <strong> 2. Transport : </strong>Englobe les dépenses liées au transport, telles que le carburant, l'entretien du véhicule, l'assurance automobile, les paiements de prêts automobiles et tout autre coût lié aux déplacements. <br>
   <strong>3. Assurances :</strong> Cela englobe les paiements de primes d'assurance, qui peuvent inclure l'assurance vie, l'assurance santé, l'assurance automobile, l'assurance habitation ou d'autres types de couverture. <br>
   <strong>4.	Alimentation : </strong>Inclut l'argent dépensé en nourriture et en produits d'épicerie, que ce soit dans les supermarchés, les restaurants ou tout autre endroit lié à l'alimentation. <br>
   <strong>5.	Achats :</strong> Catégorie pour suivre les dépenses liées aux achats personnels, tels que les vêtements, les appareils électroniques, les meubles ou d'autres articles. <br>
   <strong> 6.	Médical : </strong>Englobe les dépenses liées aux soins de santé, telles que les visites chez le médecin, les médicaments, l'assurance santé et d'autres services de santé. <br>
   <strong>7.	Loisirs :</strong> Ici, vous enregistrez les dépenses liées aux activités de divertissement, telles que le cinéma, les concerts, les événements sportifs, les restaurants et les passe-temps. <br>
   <strong>8.	Dettes et Prêts : </strong>Catégorie pour suivre les paiements de prêts, tels que les prêts étudiants, les cartes de crédit, les prêts personnels ou les prêts hypothécaires. <br>
   <strong> 9.	Autres dépenses</strong>
    </p>
</div>

<!-- contact -->
<div class="text-justify border-bottom border-3 border-black mb-5 pb-4">
  <h1 class="fs-4 text-decoration-underline">
    Contact
  </h1>
  <p>Besoin d'aide? Contactez-nous!
<br>
    Si vous avez des questions, des problèmes ou si vous avez besoin d'assistance, n'hésitez pas à nous écrire à l'adresse suivante : contact&#64;smartspend.fr. <br> Notre équipe est là pour vous aider. Nous sommes impatients de vous entendre! <br>
    <br>
    Cordialement,<br>
    L'équipe SmartSpend</p>
</div>

<!-- Reseau -->
<div class="text-justify border-bottom border-3 border-black mb-5 pb-4">
  <h1 class="fs-4 text-decoration-underline">
    RRHH
  </h1>
  <p>Visitez et rejoignez nos réseaux</p>
</div>
</main>
  <ion-footer >
    <div class="container d-flex justify-content-around align-items-center">
    <div class="footer-item flex-item text-center ">
      <ul>
        <li><a href="">À propos de </a></li>
        <li><a href="">Contact</a></li>
        <li>
          <a href="">Politique de confidentialité et conditions de service</a>
        </li>
      </ul>
    </div>
    <div class="image footer-item text-center">
      <img src="../../assets/img/logonobg.png" alt="logo" class="img-fluid mw-25" />
    </div>
    <div class="footer-item flex-item text-center ">
      <ul>
        <li><a href="">FAQs</a></li>
        <li><a href="">Informations sur les copyright</a></li>
        <li>
          <a href="">Reseau sociaux</a>
          <br>
          <i class="fa fa-twitter pe-2"></i>
              <i class="fa fa-facebook"></i>
        </li>
      </ul>
    </div>
  </div>
  </ion-footer>
</ion-content>
