<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="../../assets/img/logo2.png" class="photo" alt="logo" />
   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="text-center">
  <h1 class="intro">BIENVENUE</h1>
  <div class="container mb-3 cont-max-width">
    <div class="signin text-center">
      <form (ngSubmit)="login()" #loginForm="ngForm" id="sign-in-form" class="text-center p-4">
        <div class="form-group mb-2">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" class="form-control" [(ngModel)]="email" required>
        </div>
        <div class="form-group mb-4">
          <label for="password">Mot de passe</label>
          <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password" required>
        </div>
        <div class="error-message text-danger mb-3" *ngIf="errorMessage">{{ errorMessage }}</div>
        <p><a routerLink="/recuperation-mp" class="remember">Mot de passe oublié?</a></p>
        <input type="submit" [disabled]="loginForm.invalid" value="Se connecter" class="btn btn-v rounded-4 p-2">
      </form>
      
    </div>
  </div>
 <!-- Button sincrire -->
 <button class="btn inscrire mb-4 p-2 w-50 rounded-3" routerLink="/inscription">S'inscrire</button>

 <!-- card presentation-->
 <section class="container card-app mb-2">
   <div class="card border border-2 rounded-4">
     <img
       src="../../assets/img/logo3card.png"
       class="card-img-top rounded-4 card-photo"
       alt="..."
     />
     <div class="card-body text-center rounded-4">
       <p class="card-text text-edit">
         <strong>Votre gestionnaire financier intelligent.</strong>
       </p>
     </div>
   </div>
 </section>

 <!-- comments -->
 <section class="container mt-4 mb-4 cont-max-width">
  <p class="comment border rounded-3 text-end ms-5">
    Découvrez une manière plus intelligente de gérer votre argent avec
    <strong>SmartSpend</strong>. Oubliez les saisies manuelles et contrôlez vos dépenses
    automatiquement.
  </p>
  <p class="comment border rounded-3 text-start me-5">
    Contrôlez vos dépenses avec <strong>SmartSpend</strong>. Une application intuitive pour
    prendre des décisions financières plus intelligentes.
  </p>
  <p class="comment border rounded-3 text-end ms-5">
    Votre assistant financier personnel. Avec <strong>SmartSpend</strong>, le suivi de vos
    dépenses est simple et rapide.
  </p>
  <p class="comment border rounded-3 text-start me-5">
    <strong>SmartSpend</strong>: l'outil essentiel pour une gestion financière
    intelligente. Commencez dès aujourd'hui.
  </p>
</section>

<!-- FOOTER -->
  <ion-footer >
    <div class="container d-flex justify-content-around align-items-center">
    <div class="footer-item flex-item text-center ">
      <ul>
        <li><a [routerLink]="'/information-app'" fragment="testfq">À propos de </a></li>
        <li><a routerLink="/information-app">Contact</a></li>
        <li>
          <a routerLink="/information-app">Politique de confidentialité et conditions de service</a>
        </li>
      </ul>
    </div>
    <div class="image footer-item text-center">
      <img src="../../assets/img/logonobg.png" alt="logo" class="img-fluid mw-25" routerLink="/information-app"/>
    </div>
    <div class="footer-item flex-item text-center ">
      <ul>
        <li><a routerLink="/information-app">FAQs</a></li>
        <li><a routerLink="/information-app">Informations sur les copyright</a></li>
        <li>
          <a routerLink="/information-app">Reseau sociaux</a>
          <br>
          <i class="fa fa-twitter pe-2"></i>
              <i class="fa fa-facebook"></i>
        </li>
      </ul>
    </div>
  </div>
  </ion-footer>
</ion-content>
